form { 
    width: 80%;
    /* display: flex; */
    /* align-items: center; */
    padding-top: 100px;
} 

.description {
    width: 80%;
    font-size: large;
    padding: 30px, 25px;
    border-radius: 3px;
    display: flex;
    margin: 5px;
    align-items: center;
}

.currentWeatherInfo {
    padding: 10px 0 20px;
    display: flex;
    padding-top: 200;
}

.temp {
    font-size: 96px;
    font-weight: 200;
    margin-right: 0px;
}

/* .auto {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    width: 100px;
} */














